@import '_vars';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
//font-family: 'Bellota Text', cursive;
//font-family: 'Baloo 2', cursive;
body {
  margin: 0;
  font-family: $font-2;
  //font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title{
  font-family: $font-1;
  font-weight: 500 !important;
  font-size: 60px !important;
  color: #fff !important;
  padding-top: 50px;
}

.title span{
  color: $dbay-orange;
}

.btn-circle {
  width: 80px;
  height: 80px;
  padding: 10px 16px;
  border-radius: 40px;
  font-size: 20px;
  text-align: center;
  font-family: $font-2;
}

.nav-link{
  font-family: $font-2;
  color: $dbay-orange;
  font-size: 30px;
  margin-bottom: 10px;
}

.nav-link:hover{
  font-family: $font-2;
  color: #804000;
  font-size: 30px;
}

.active{
  color: #804000;
}

.pointer{
  cursor: pointer;
}

.input-group-text {
  border-radius: 0px !important;
  background-color: transparent !important;
}

.btn-success{
  background-color: $dbay-orange !important;
  border-color: $dbay-orange !important;
}


.dbay-modal .modal-content {
  border-radius: 0px !important;
}

.dbay-modal .modal-header {
  background-color: $dbay-orange !important;
  border-radius: 0px !important;
  color: #fafafa;
}

.dbay-modal .close {
  color: #fafafa !important;
  outline: 0;
}
.cdk-overlay-container {
  z-index: 2000 !important;
}

::ng-deep .cdk-overlay-container mat-datepicker-content{
  z-index:2000;
}
