<div class="container mt-4">
  <div class="row">
    <div class="col-4">
      <h1 class="title black">dBay<span>.</span></h1>
    </div>
    <div class="col-8">
      <div class="input-group mb-3 pt-50">
        <div class="input-group-prepend">
          <span class="input-group-text" ngbTooltip="Set the contract address of the auction house you want to use">Auctionhouse Address</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="auctionHouseAddress" placeholder="New Address..."/>
        <div class="input-group-append">
          <button class="btn btn-success rounded-0" (click)="setNewLocalAdress()">Set Address</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-3 border-right">
      <app-nav [activeNav]="activeNav"></app-nav>
    </div>
    <div class="col-9">
      <app-open-auctions *ngIf="activeNav=='auctions'"></app-open-auctions>
      <app-my-bidding *ngIf="activeNav=='bidding'"></app-my-bidding>
      <app-my-selling *ngIf="activeNav=='selling'"></app-my-selling>
    </div>
  </div>
</div>
