<div class="container-fluid vh-100" id="bg_fullscreen">
  <div class="container h-100 d-flex">
    <h1 class="title">dBay<span>.</span></h1>

      <div class="text-center justify-content-center my-auto">
        <div class="intro-text pb-2">
          <span>Welcome on </span>
          <h1 class="title d-inline-block">dBay<span>.</span></h1>
        </div>
        <div class="intro-snd-text mt-4">
          <span>a decentralized Marketplace for everyone!</span>
        </div>
        <button type="button" class="btn btn-outline-light btn-circle mt-8"  (click)="scrollToMain()">start</button>
      </div>
  </div>

</div>
<div class="mainAnchor"></div>
<router-outlet></router-outlet>
