<div class="p-2">
  <div class="row border-bottom py-2">
    <div class="col-2">
<!--      <div class="item-image" [style]="'background-image: url(\''+auction.imgUrl+'\')' | safe "></div>-->
      <div class="item-image" [style.background-image]="image"></div>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-8"><h3 class="item-title">{{auction.description}}</h3></div>
        <div class="col-4 text-right"><span class="item-time"><fa-icon icon="clock" class="pointer" ngbTooltip="Time left"></fa-icon> {{timeLeft | timeleft}}</span></div>
      </div>
      <div class="row">
        <div class="col-6"><span class="item-price"><fa-icon  [icon]="['fab','ethereum']" class="pointer" ngbTooltip="Current highest bid"></fa-icon> {{auction.currentMaxBid | etherConverter | number: '1.2-5'}}</span></div>
        <div class="col-6" *ngIf="timeLeft !== -1 && !auction.iAmSeller">
          <span *ngIf="auction.iAmMaxBidder" class="float-right winning">You have the highest bid</span>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><fa-icon [icon]="['fab','ethereum']"></fa-icon></span>
            </div>
            <input type="number" class="form-control" placeholder="Amount" [(ngModel)]="bid" (ngModelChange)="validate()">
            <div class="input-group-append">
              <button class="btn btn-success rounded-0" (click)="placeBid()" [disabled]="!valid">Place Bid</button>
            </div>
          </div>
          <span *ngIf="!valid" class="float-right warning">Bid value must be greater or equal than {{minBidValue}}</span>
        </div>
        <div class="col-6" *ngIf="timeLeft !== -1 && auction.iAmSeller">
          <span class="float-right winning">Your item</span>
        </div>
        <div class="col-6" *ngIf="timeLeft === -1">
          <div class="row">
            <div class="col-12"><span class="float-right winning" *ngIf="auction.iAmSeller">Your item</span></div>
            <div class="col-12" *ngIf="auction.iAmSeller && auction.winnerReceivedItem && !auction.auctionClosed"><button class="btn btn-success rounded-0 float-right" (click)="claim()">Claim your money</button></div>
            <div class="col-12" *ngIf="auction.iAmSeller && auction.currentMaxBidder !== emptyBidder && !auction.winnerReceivedItem && !auction.auctionClosed"><span class="float-right">Waiting for buyer to receive item <fa-icon icon="spinner" [spin]="true"></fa-icon></span></div>
            <div class="col-12" *ngIf="auction.iAmSeller && auction.currentMaxBidder === emptyBidder && !auction.winnerReceivedItem  && !auction.auctionClosed"><span class="float-right">You did not sell this item</span></div>
            <div class="col-12" *ngIf="auction.iAmMaxBidder && auction.winnerReceivedItem && !auction.auctionClosed"><span class="float-right">Waiting for seller to claim money <fa-icon icon="spinner" [spin]="true"></fa-icon></span></div>
            <div class="col-12" *ngIf="auction.iAmMaxBidder && !auction.winnerReceivedItem && !auction.auctionClosed"><button class="btn btn-success rounded-0 float-right" (click)="confirmReception()">Confirm reception of item</button></div>
            <div class="col-12" *ngIf="auction.iAmMaxBidder && auction.auctionClosed"><span class="float-right">You bought this item successfully</span></div>
            <div class="col-12" *ngIf="auction.iAmSeller && auction.auctionClosed"><span class="float-right">You sold this item successfully</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
